body {
  background-color: gray;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card-Container {
  display: flex;
  margin: 3em 0;
  height: 400px;
  width: 100%;
  transition: transform 1s ease;
}


.Card {
  background-color: white;
  height: 350px;
  opacity: 0;
  top:0;
  width: 200px;
  min-width: 170px;
  margin: 2em 1em;
  padding: 1rem ;
  transition: all 1s ease;
}

.Card.Current {
  opacity: 1;
  height: 100%;
  margin: 1em 2em;
  flex: 2;
}

.Card.Prev {
  opacity: 1;
}

.Card.Next {
  opacity: 1;
}
.Card-heading {
  margin: 0;
  text-align: left;
  font-weight: normal;

}
.Card-subheading {
  margin: 0;
  font-size: 10pt;
  text-align: left;
}
.Card-summary {
  text-align: left;
  font-size: 16pt;
  font-weight: semi-bold;
}
.Card-img {
  float: left;
  width: 60px;
  height: 60px;
  margin-top: 14px;
}
.Card-temp {
  font-size: 28pt;
  font-weight: bold;
}
.Card-city {
  text-align: left;
  font-size: 16pt;
  position: absolute;
  bottom: 0;
}
